@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;700&display=swap");
:root {
  /*Cores*/
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #fd2222;
  --cor-hover: #272727;

  /*Fontes*/
  --fonte-principal: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}
.cabecalho {
  padding: 2% 0 0 15%;
}
.menu {
  display: flex;
  gap: 80px;
}
.menu-links {
  color: var(--cor-terciaria);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--fonte-secundaria);
  text-decoration: none;
}
.menu-links:hover {
  padding: 8px;
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  border-radius: 7px;
  transition: 0.5s;
}

.titulo-destaque {
  color: var(--cor-terciaria);
}
.titulo-button {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--fonte-principal);
}
.imagem-principal {
  border-radius: 12px;
  width: 50%;
}
.container {
  padding: 8% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}
.container-conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container-conteudo-titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-principal);
}
.container-conteudo-text {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.button-first {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 50%;
  margin: 12px;
  padding: 12px;
  color: #f6f6f6;
  /* background-color: black; */
  border: 2px solid var(--cor-terciaria);
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}
.button-first:hover {
  color: var(--cor-primaria);
  background-color: var(--cor-hover);
  transition: 0.5s;
  font-family: var(--fonte-secundaria);
}
.rodape {
  padding: 16px;
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  font-weight: bold;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  text-align: center;
}
/*Paragrafo About-me*/
#about-me {
  padding: 16px;
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }
  .menu {
    justify-content: center;
  }
  .container {
    flex-direction: column-reverse;
    padding: 5%;
  }
  .container-conteudo {
    width: auto;
  }
}
