@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #f6f6f6;
}

.titulo-destaque {
  color: #fd2222;
}
.container {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-conteudo {
  width: 615px;
}
.container-conteudo-titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}
.container-conteudo-text {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
.button {
  display: flex;
  justify-content: space-between;
}
