@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #f6f6f6;
}

.titulo-destaque {
  color: #fd2222;
}
.imagem-principal {
  border-radius: 12px;
}
.container {
  margin: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container-conteudo-titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}
.container-conteudo-text {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
.button {
  display: flex;
  justify-content: space-between;
}
.button-first {
  width: 270px;
  margin: 12px;
  padding: 12px;
  color: black;
  background-color: #fd2222;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
}
.button-first:hover {
  color: #fd2222;
  background-color: black;
  transition: 0.5s;
  font-family: "Krona One", sans-serif;
}
